body{
    background-color: var(--color-pomb-and-power);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 300px;
}